In [8]:
import pandas as pd
import numpy as np

df = pd.read_csv('new_train.csv')
df_antenas = pd.read_csv('antenas.csv')

In [9]:
df

,Unnamed: 0,PHONE_ID,Trabajo,Casa,HomeOffice?
0,0,00000000e3fc09803d408609f55cbf905120d3a41db564...,"-33.3994,-70.5699","-33.3806,-70.5419",0
1,1,0000100159b099202b52b3ee8ee7130f2c5f283591f611...,"-33.4399,-70.6407","-33.4399,-70.6407",1
2,2,00001cca3bf53b8226459edf445ca46ffae00c53d39d82...,"-33.6791,-70.9859","-33.6791,-70.9859",1
3,3,000023f38ae28f3bf87393e0cea45bd598018e7782b3fe...,"-33.4583,-70.7068","-33.6753,-70.9499",0
4,4,000051f8a60f41b3374a5377257860b6ef2e353e74fcf0...,"-33.4104,-70.5715","-33.4104,-70.5715",1
...,...,...,...,...,...
808595,808595,ffff5546599c86a89b48fd88ac0fdf6809741934202288...,"-33.6776,-70.9999","-33.6776,-70.9999",1
808596,808596,ffff71d81277f4da111251f7e1adf6bf3a812066960fd5...,"-33.4821,-70.6351","-33.4669,-70.6525",0
808597,808597,ffffa01d59b87f412bc0d8f47da668a910192bd61176ab...,"-33.5919,-70.7951","-33.5919,-70.7951",1
808598,808598,ffffa17bcc4a44837795dbee241e641b0bf6e0f0f45408...,"-33.5545,-70.795","-33.5545,-70.795",1
808599,808599,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,"-33.4034,-70.5584","-33.4034,-70.5584",1

In [10]:
df_antenas

      Unnamed: 0        coordinates        comuna
0              0  -33.3913,-70.6222    Huechuraba
1              1  -33.5208,-70.5438    La Florida
2              2  -33.9131,-70.7181         Paine
3              3   -33.5752,-70.661     El Bosque
4              4  -33.4124,-70.5219    Las Condes
...          ...                ...           ...
1703        1703  -33.4308,-70.6447      Recoleta
1704        1704  -33.4055,-70.7055         Renca
1705        1705  -33.4999,-70.6142         Macul
1706        1706   -33.543,-70.7105  San Bernardo
1707        1707  -33.4145,-70.5971    Las Condes

[1708 rows x 3 columns]

In [11]:
df = df.drop(['Unnamed: 0', 'PHONE_ID'], axis = 1)

In [58]:
df

                  Trabajo               Casa  HomeOffice?
0       -33.3994,-70.5699  -33.3806,-70.5419            0
1       -33.4399,-70.6407  -33.4399,-70.6407            1
2       -33.6791,-70.9859  -33.6791,-70.9859            1
3       -33.4583,-70.7068  -33.6753,-70.9499            0
4       -33.4104,-70.5715  -33.4104,-70.5715            1
...                   ...                ...          ...
808595  -33.6776,-70.9999  -33.6776,-70.9999            1
808596  -33.4821,-70.6351  -33.4669,-70.6525            0
808597  -33.5919,-70.7951  -33.5919,-70.7951            1
808598   -33.5545,-70.795   -33.5545,-70.795            1
808599  -33.4034,-70.5584  -33.4034,-70.5584            1

[808600 rows x 3 columns]

In [59]:
df['HomeOffice?'].value_counts()

1    494172
0    314428
Name: HomeOffice?, dtype: int64

In [13]:
df_antenas = df_antenas.drop(['Unnamed: 0'], axis = 1)

In [14]:
df_antenas

            coordinates        comuna
0     -33.3913,-70.6222    Huechuraba
1     -33.5208,-70.5438    La Florida
2     -33.9131,-70.7181         Paine
3      -33.5752,-70.661     El Bosque
4     -33.4124,-70.5219    Las Condes
...                 ...           ...
1703  -33.4308,-70.6447      Recoleta
1704  -33.4055,-70.7055         Renca
1705  -33.4999,-70.6142         Macul
1706   -33.543,-70.7105  San Bernardo
1707  -33.4145,-70.5971    Las Condes

[1708 rows x 2 columns]

In [30]:
df_merge = df.merge(df_antenas, left_on='Trabajo', right_on='coordinates')
df_merge

,Trabajo,Casa,HomeOffice?,coordinates,comuna
0,"-33.3994,-70.5699","-33.3806,-70.5419",0,"-33.3994,-70.5699",Las Condes
1,"-33.3994,-70.5699","-33.3994,-70.5699",1,"-33.3994,-70.5699",Las Condes
2,"-33.3994,-70.5699","-33.3994,-70.5699",1,"-33.3994,-70.5699",Las Condes
3,"-33.3994,-70.5699","-33.3994,-70.5699",1,"-33.3994,-70.5699",Las Condes
4,"-33.3994,-70.5699","-33.3994,-70.5699",1,"-33.3994,-70.5699",Las Condes
...,...,...,...,...,...
808595,"-33.3796,-70.53","-33.3796,-70.53",1,"-33.3796,-70.53",Las Condes
808596,"-33.4044,-70.5872","-33.4163,-70.5587",0,"-33.4044,-70.5872",Vitacura
808597,"-33.4044,-70.5872","-33.4195,-70.6626",0,"-33.4044,-70.5872",Vitacura
808598,"-33.4446,-70.7406","-33.4369,-70.7456",0,"-33.4446,-70.7406",Pudahuel
808599,"-33.5401,-70.666","-33.54,-70.6657",0,"-33.5401,-70.666",La Cisterna

In [31]:
df_merge = df_merge.drop(['Trabajo', 'Casa', 'coordinates'], axis = 1)

In [32]:
df_merge

        HomeOffice?       comuna
0                 0   Las Condes
1                 1   Las Condes
2                 1   Las Condes
3                 1   Las Condes
4                 1   Las Condes
...             ...          ...
808595            1   Las Condes
808596            0     Vitacura
808597            0     Vitacura
808598            0     Pudahuel
808599            0  La Cisterna

[808600 rows x 2 columns]

In [60]:
df_merge['HomeOffice?'].value_counts()

1    494172
0    314428
Name: HomeOffice?, dtype: int64

In [39]:
dict_aux = {}

for i in range(len(df_merge)):
    if df_merge['comuna'][i] in dict_aux.keys():
        if df_merge['HomeOffice?'][i] == 0:
            dict_aux[df_merge['comuna'][i]][0] += 1
        else: 
            dict_aux[df_merge['comuna'][i]][1] += 1
    else:
        if df_merge['HomeOffice?'][i] == 0:
            dict_aux[df_merge['comuna'][i]] = [1, 0]
        else: 
            dict_aux[df_merge['comuna'][i]] = [0, 1]

In [42]:
dict_aux

{'Las Condes': [18672, 29527],
 'Santiago': [21334, 29952],
 'El Monte': [1845, 2732],
 'Estación Central': [7709, 11345],
 'Recoleta': [5287, 7979],
 'Macul': [5700, 8246],
 'Peñaflor': [4666, 7609],
 'Pudahuel': [9814, 14588],
 'La Reina': [5383, 8855],
 'Renca': [5311, 8974],
 'Lo Barnechea': [7840, 12448],
 'Maipú': [19440, 32374],
 'Buin': [4588, 7434],
 'Quilicura': [6444, 10448],
 'San José de Maipo': [2314, 2690],
 'La Florida': [14029, 21671],
 'Padre Hurtado': [4974, 7046],
 'Vitacura': [5583, 8817],
 'Lo Espejo': [2878, 5013],
 'Puente Alto': [16933, 28264],
 'San Ramón': [2480, 3865],
 'San Joaquín': [3038, 4434],
 'San Bernardo': [11650, 19013],
 'Isla de Maipo': [2324, 2902],
 'Huechuraba': [5700, 10217],
 'Ñuñoa': [9577, 16063],
 'El Bosque': [5566, 9425],
 'Melipilla': [8185, 12441],
 'La Cisterna': [4820, 6952],
 'Conchalí': [4788, 7913],
 'La Granja': [4347, 6633],
 'Quinta Normal': [5730, 8420],
 'Lampa': [3595, 6132],
 'Providencia': [8370, 12983],
 'Paine': [5915, 8385],
 'Cerrillos': [2899, 4584],
 'Cerro Navia': [4526, 7630],
 'Talagante': [3963, 5861],
 'La Pintana': [2349, 3683],
 'Curacaví': [2838, 4992],
 'Peñalolén': [10491, 17546],
 'Colina': [9809, 15270],
 'Lo Prado': [3312, 5707],
 'Pirque': [2180, 3013],
 'San Miguel': [5769, 9043],
 'Independencia': [3037, 3983],
 'San Pedro': [388, 1076],
 'Calera de Tango': [1923, 2876],
 'Pedro Aguirre Cerda': [3023, 5116],
 'Tiltil': [581, 838],
 'María Pinto': [487, 1143],
 'Alhué': [24, 21]}

In [47]:
for i in dict_aux.values():
    i.append(i[1] * 100 / (i[0] + i[1]))

In [48]:
dict_aux

{'Las Condes': [18672, 29527, 61.26060706653665],
 'Santiago': [21334, 29952, 58.401903053464885],
 'El Monte': [1845, 2732, 59.68975311339305],
 'Estación Central': [7709, 11345, 59.54130366327281],
 'Recoleta': [5287, 7979, 60.14623850444746],
 'Macul': [5700, 8246, 59.12806539509537],
 'Peñaflor': [4666, 7609, 61.9877800407332],
 'Pudahuel': [9814, 14588, 59.7819850831899],
 'La Reina': [5383, 8855, 62.19272369714847],
 'Renca': [5311, 8974, 62.821141057052856],
 'Lo Barnechea': [7840, 12448, 61.35646687697161],
 'Maipú': [19440, 32374, 62.48118269193654],
 'Buin': [4588, 7434, 61.83663283979371],
 'Quilicura': [6444, 10448, 61.85176414870945],
 'San José de Maipo': [2314, 2690, 53.756994404476416],
 'La Florida': [14029, 21671, 60.703081232493],
 'Padre Hurtado': [4974, 7046, 58.6189683860233],
 'Vitacura': [5583, 8817, 61.229166666666664],
 'Lo Espejo': [2878, 5013, 63.52806995311114],
 'Puente Alto': [16933, 28264, 62.53512401265571],
 'San Ramón': [2480, 3865, 60.91410559495666],
 'San Joaquín': [3038, 4434, 59.34154175588865],
 'San Bernardo': [11650, 19013, 62.00632684342693],
 'Isla de Maipo': [2324, 2902, 55.53004209720628],
 'Huechuraba': [5700, 10217, 64.18923163912798],
 'Ñuñoa': [9577, 16063, 62.64820592823713],
 'El Bosque': [5566, 9425, 62.87105596691348],
 'Melipilla': [8185, 12441, 60.317075535731604],
 'La Cisterna': [4820, 6952, 59.055385660890245],
 'Conchalí': [4788, 7913, 62.30218093063538],
 'La Granja': [4347, 6633, 60.40983606557377],
 'Quinta Normal': [5730, 8420, 59.50530035335689],
 'Lampa': [3595, 6132, 63.0410198416778],
 'Providencia': [8370, 12983, 60.8017608766918],
 'Paine': [5915, 8385, 58.63636363636363],
 'Cerrillos': [2899, 4584, 61.258853401042366],
 'Cerro Navia': [4526, 7630, 62.7673576834485],
 'Talagante': [3963, 5861, 59.660016286644954],
 'La Pintana': [2349, 3683, 61.05769230769231],
 'Curacaví': [2838, 4992, 63.75478927203065],
 'Peñalolén': [10491, 17546, 62.5815886150444],
 'Colina': [9809, 15270, 60.88759519917062],
 'Lo Prado': [3312, 5707, 63.277525224526],
 'Pirque': [2180, 3013, 58.02041209320239],
 'San Miguel': [5769, 9043, 61.05184985147178],
 'Independencia': [3037, 3983, 56.73789173789174],
 'San Pedro': [388, 1076, 73.49726775956285],
 'Calera de Tango': [1923, 2876, 59.92915190664722],
 'Pedro Aguirre Cerda': [3023, 5116, 62.85784494409633],
 'Tiltil': [581, 838, 59.05567300916138],
 'María Pinto': [487, 1143, 70.12269938650307],
 'Alhué': [24, 21, 46.666666666666664]}

In [51]:
df_home = pd.DataFrame.from_dict(dict_aux, orient='index')

In [52]:
df_home

                         0      1          2
Las Condes           18672  29527  61.260607
Santiago             21334  29952  58.401903
El Monte              1845   2732  59.689753
Estación Central      7709  11345  59.541304
Recoleta              5287   7979  60.146239
Macul                 5700   8246  59.128065
Peñaflor              4666   7609  61.987780
Pudahuel              9814  14588  59.781985
La Reina              5383   8855  62.192724
Renca                 5311   8974  62.821141
Lo Barnechea          7840  12448  61.356467
Maipú                19440  32374  62.481183
Buin                  4588   7434  61.836633
Quilicura             6444  10448  61.851764
San José de Maipo     2314   2690  53.756994
La Florida           14029  21671  60.703081
Padre Hurtado         4974   7046  58.618968
Vitacura              5583   8817  61.229167
Lo Espejo             2878   5013  63.528070
Puente Alto          16933  28264  62.535124
San Ramón             2480   3865  60.914106
San Joaquín           3038   4434  59.341542
San Bernardo         11650  19013  62.006327
Isla de Maipo         2324   2902  55.530042
Huechuraba            5700  10217  64.189232
Ñuñoa                 9577  16063  62.648206
El Bosque             5566   9425  62.871056
Melipilla             8185  12441  60.317076
La Cisterna           4820   6952  59.055386
Conchalí              4788   7913  62.302181
La Granja             4347   6633  60.409836
Quinta Normal         5730   8420  59.505300
Lampa                 3595   6132  63.041020
Providencia           8370  12983  60.801761
Paine                 5915   8385  58.636364
Cerrillos             2899   4584  61.258853
Cerro Navia           4526   7630  62.767358
Talagante             3963   5861  59.660016
La Pintana            2349   3683  61.057692
Curacaví              2838   4992  63.754789
Peñalolén            10491  17546  62.581589
Colina                9809  15270  60.887595
Lo Prado              3312   5707  63.277525
Pirque                2180   3013  58.020412
San Miguel            5769   9043  61.051850
Independencia         3037   3983  56.737892
San Pedro              388   1076  73.497268
Calera de Tango       1923   2876  59.929152
Pedro Aguirre Cerda   3023   5116  62.857845
Tiltil                 581    838  59.055673
María Pinto            487   1143  70.122699
Alhué                   24     21  46.666667

In [62]:
df_home = df_home.drop([0, 1], axis = 1)

In [63]:
df_home

                             2
Las Condes           61.260607
Santiago             58.401903
El Monte             59.689753
Estación Central     59.541304
Recoleta             60.146239
Macul                59.128065
Peñaflor             61.987780
Pudahuel             59.781985
La Reina             62.192724
Renca                62.821141
Lo Barnechea         61.356467
Maipú                62.481183
Buin                 61.836633
Quilicura            61.851764
San José de Maipo    53.756994
La Florida           60.703081
Padre Hurtado        58.618968
Vitacura             61.229167
Lo Espejo            63.528070
Puente Alto          62.535124
San Ramón            60.914106
San Joaquín          59.341542
San Bernardo         62.006327
Isla de Maipo        55.530042
Huechuraba           64.189232
Ñuñoa                62.648206
El Bosque            62.871056
Melipilla            60.317076
La Cisterna          59.055386
Conchalí             62.302181
La Granja            60.409836
Quinta Normal        59.505300
Lampa                63.041020
Providencia          60.801761
Paine                58.636364
Cerrillos            61.258853
Cerro Navia          62.767358
Talagante            59.660016
La Pintana           61.057692
Curacaví             63.754789
Peñalolén            62.581589
Colina               60.887595
Lo Prado             63.277525
Pirque               58.020412
San Miguel           61.051850
Independencia        56.737892
San Pedro            73.497268
Calera de Tango      59.929152
Pedro Aguirre Cerda  62.857845
Tiltil               59.055673
María Pinto          70.122699
Alhué                46.666667

In [66]:
df_home = df_home.rename(columns={2: '%_of_homeoffice'})

In [67]:
df_home

                     %_of_homeoffice
Las Condes                 61.260607
Santiago                   58.401903
El Monte                   59.689753
Estación Central           59.541304
Recoleta                   60.146239
Macul                      59.128065
Peñaflor                   61.987780
Pudahuel                   59.781985
La Reina                   62.192724
Renca                      62.821141
Lo Barnechea               61.356467
Maipú                      62.481183
Buin                       61.836633
Quilicura                  61.851764
San José de Maipo          53.756994
La Florida                 60.703081
Padre Hurtado              58.618968
Vitacura                   61.229167
Lo Espejo                  63.528070
Puente Alto                62.535124
San Ramón                  60.914106
San Joaquín                59.341542
San Bernardo               62.006327
Isla de Maipo              55.530042
Huechuraba                 64.189232
Ñuñoa                      62.648206
El Bosque                  62.871056
Melipilla                  60.317076
La Cisterna                59.055386
Conchalí                   62.302181
La Granja                  60.409836
Quinta Normal              59.505300
Lampa                      63.041020
Providencia                60.801761
Paine                      58.636364
Cerrillos                  61.258853
Cerro Navia                62.767358
Talagante                  59.660016
La Pintana                 61.057692
Curacaví                   63.754789
Peñalolén                  62.581589
Colina                     60.887595
Lo Prado                   63.277525
Pirque                     58.020412
San Miguel                 61.051850
Independencia              56.737892
San Pedro                  73.497268
Calera de Tango            59.929152
Pedro Aguirre Cerda        62.857845
Tiltil                     59.055673
María Pinto                70.122699
Alhué                      46.666667

In [68]:
df_home.to_csv('HomeOffice.csv')