In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('matriz_viajes_v2.csv')

In [ ]:
df["timestamp"] = pd.to_datetime(df["timestamp"])

In [ ]:
df = df.fillna(0)

In [ ]:
df = df.drop(['Unnamed: 0'], axis = 1)

In [ ]:
def tiemp(t1, t2):
    return (t1 - t2) / pd.Timedelta(hours = 1)

In [ ]:
df

,PHONE_ID,timestamp,coordinates,tiempo_min,dis_trans,comuna
0,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:09:15-03:00,"-33.3844,-70.5534",0.000000,0.000000,Vitacura
1,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:16:37-03:00,"-33.3806,-70.5419",7.366667,1.149621,Vitacura
2,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:18:36-03:00,"-33.3806,-70.5419",1.983333,0.000000,Vitacura
3,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:39:15-03:00,"-33.3994,-70.5699",20.650000,3.339568,Las Condes
4,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:48:36-03:00,"-33.3972,-70.5499",9.350000,1.874798,Las Condes
...,...,...,...,...,...,...
37732980,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01 21:32:20-03:00,"-33.4034,-70.5584",30.000000,0.000000,Las Condes
37732981,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01 22:02:20-03:00,"-33.4034,-70.5584",30.000000,0.000000,Las Condes
37732982,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01 22:32:20-03:00,"-33.4034,-70.5584",30.000000,0.000000,Las Condes
37732983,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01 23:02:20-03:00,"-33.4034,-70.5584",30.000000,0.000000,Las Condes
37732984,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01 23:32:20-03:00,"-33.4034,-70.5584",30.000000,0.000000,Las Condes

In [ ]:
aux = {'PHONE_ID': [],
       'Coordenada': [],
       'Hora_entrada': [],
       'Hora_salida': [],
       'Comuna': [],
       'Distancia': [],
       'Tiempo_en_comuna': []
}

primer_registro = 1

for i in range(len(df)):
    if i == len(df) - 1:
        tiempo_fin = df['timestamp'][i]
        aux['Hora_salida'].append(tiempo_fin)
        aux['Tiempo_en_comuna'].append(tiemp(tiempo_fin, aux['Hora_entrada'][len(aux['Hora_entrada']) - 1]))
        
    else:
        if df['PHONE_ID'][i] == df['PHONE_ID'][i + 1]:
            if df['coordinates'][i] == df['coordinates'][i + 1]:
                if primer_registro == 1:
                    primer_registro = 0
                    aux['PHONE_ID'].append(df['PHONE_ID'][i])
                    aux['Coordenada'].append(df['coordinates'][i])
                    aux['Hora_entrada'].append(df['timestamp'][i])
                    aux['Comuna'].append(df['comuna'][i])
                    aux['Distancia'].append(0)
                
            else:
                if primer_registro == 1:
                    primer_registro = 0
                    aux['PHONE_ID'].append(df['PHONE_ID'][i])
                    aux['Coordenada'].append(df['coordinates'][i])
                    aux['Hora_entrada'].append(df['timestamp'][i])
                    aux['Comuna'].append(df['comuna'][i])
                    aux['Distancia'].append(0)
                    tiempo_fin = df['timestamp'][i]
                    aux['Hora_salida'].append(tiempo_fin)
                    aux['Tiempo_en_comuna'].append(0)
                    
                    aux['PHONE_ID'].append(df['PHONE_ID'][i + 1])
                    aux['Coordenada'].append(df['coordinates'][i + 1])
                    aux['Hora_entrada'].append(df['timestamp'][i + 1])
                    aux['Comuna'].append(df['comuna'][i + 1])
                    aux['Distancia'].append(df['dis_trans'][i + 1])
                    
                else:
                    tiempo_fin = df['timestamp'][i]
                    aux['Hora_salida'].append(tiempo_fin)
                    aux['Tiempo_en_comuna'].append(tiemp(tiempo_fin, aux['Hora_entrada'][len(aux['Hora_entrada']) - 1]))


                    aux['PHONE_ID'].append(df['PHONE_ID'][i + 1])
                    aux['Coordenada'].append(df['coordinates'][i + 1])
                    aux['Hora_entrada'].append(df['timestamp'][i + 1])
                    aux['Comuna'].append(df['comuna'][i + 1])
                    aux['Distancia'].append(df['dis_trans'][i + 1])
                
        else:
            if df['PHONE_ID'][i - 1] != df['PHONE_ID'][i]:
                aux['PHONE_ID'].append(df['PHONE_ID'][i])
                aux['Coordenada'].append(df['coordinates'][i])
                aux['Hora_entrada'].append(df['timestamp'][i])
                aux['Comuna'].append(df['comuna'][i])
                aux['Distancia'].append(0)
                tiempo_fin = df['timestamp'][i]
                aux['Hora_salida'].append(tiempo_fin)
                aux['Tiempo_en_comuna'].append(0)
                
            else:
                tiempo_fin = df['timestamp'][i]
                aux['Hora_salida'].append(tiempo_fin)
                aux['Tiempo_en_comuna'].append(tiemp(tiempo_fin, aux['Hora_entrada'][len(aux['Hora_entrada']) - 1]))
            primer_registro = 1

In [ ]:
print(len(aux['PHONE_ID']), len(aux['Coordenada']), len(aux['Hora_entrada']), len(aux['Comuna']), len(aux['Distancia']))

9350026 9350026 9350026 9350026 9350026

In [ ]:
print( len(aux['Hora_salida']), len(aux['Tiempo_en_comuna']))

9350026 9350026

In [ ]:
osqui = pd.DataFrame.from_dict(aux)

In [ ]:
osqui

,PHONE_ID,Coordenada,Hora_entrada,Hora_salida,Comuna,Distancia,Tiempo_en_comuna
0,00000000e3fc09803d408609f55cbf905120d3a41db564...,"-33.3844,-70.5534",2021-01-01 00:09:15-03:00,2021-01-01 00:09:15-03:00,Vitacura,0.000000,0.000000
1,00000000e3fc09803d408609f55cbf905120d3a41db564...,"-33.3806,-70.5419",2021-01-01 00:16:37-03:00,2021-01-01 00:18:36-03:00,Vitacura,1.149621,0.033056
2,00000000e3fc09803d408609f55cbf905120d3a41db564...,"-33.3994,-70.5699",2021-01-01 00:39:15-03:00,2021-01-01 00:39:15-03:00,Las Condes,3.339568,0.000000
3,00000000e3fc09803d408609f55cbf905120d3a41db564...,"-33.3972,-70.5499",2021-01-01 00:48:36-03:00,2021-01-01 00:48:36-03:00,Las Condes,1.874798,0.000000
4,00000000e3fc09803d408609f55cbf905120d3a41db564...,"-33.3806,-70.5419",2021-01-01 00:58:08-03:00,2021-01-01 00:58:08-03:00,Vitacura,1.991896,0.000000
...,...,...,...,...,...,...,...
9350021,ffffa01d59b87f412bc0d8f47da668a910192bd61176ab...,"-33.5808,-70.8103",2021-01-01 23:04:01-03:00,2021-01-01 23:48:17-03:00,Padre Hurtado,1.006161,0.737778
9350022,ffffa17bcc4a44837795dbee241e641b0bf6e0f0f45408...,"-33.6075,-70.8595",2021-01-01 01:21:44-03:00,2021-01-01 01:21:44-03:00,PeÃ±aflor,0.000000,0.000000
9350023,ffffa17bcc4a44837795dbee241e641b0bf6e0f0f45408...,"-33.5545,-70.795",2021-01-01 01:44:20-03:00,2021-01-01 22:24:18-03:00,MaipÃº,8.401840,20.666111
9350024,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,"-33.4163,-70.5587",2021-01-01 00:14:29-03:00,2021-01-01 01:34:47-03:00,Las Condes,0.000000,1.338333
9350025,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,"-33.4034,-70.5584",2021-01-01 01:56:27-03:00,2021-01-01 23:32:20-03:00,Las Condes,1.436292,21.598056

In [ ]:
osqui.describe()

          Distancia  Tiempo_en_comuna
count  9.350026e+06      9.350026e+06
mean   2.647333e+00      1.460666e+00
std    4.070174e+00      3.458139e+00
min    0.000000e+00      0.000000e+00
25%    7.643461e-01      0.000000e+00
50%    1.378025e+00      0.000000e+00
75%    2.688289e+00      1.000000e+00
max    1.248855e+02      2.395528e+01

In [ ]:
osqui.to_csv('trazas.csv')